<div class="header">
    <h1>Calculator</h1>
</div>

<div class="flex-container">
    <div class="value-field">
        <label for='firstNumber'>Value 1: </label>
        <input type="number" id="firstNumber" placeholder="" (change)="updateResult(first.value, second.value, third.value)" #first>
    </div>
    <div class="value-field">
        <label for='secondNumber'>Value 2: </label>
        <input type="number" id="secondNumber" placeholder="" (change)="updateResult(first.value, second.value, third.value)" #second>
    </div>
    <div class="value-field">
        <label for='thirdNumber'>Value 3: </label>
        <input type="number" id="thirdNumber" placeholder="" (change)="updateResult(first.value, second.value, third.value)" #third>
    </div>
    <div class="radio">
        <span>
            <input type="radio" class="sum-radio" id="sum-radio" name="radio" [(ngModel)]="selected"  [value]="1" (click)='Add(first.value, second.value, third.value)'>
            <label class="sum-radio" for='sum-radio'>Sum</label><br/>
            <input id="multiply-radio" class="multiply-radio" type="radio" name="radio" [(ngModel)]="selected"  [value]="2" (click)='Multiply(first.value, second.value, third.value)'>
            <label class="multiply-radio" for='multiply-radio'>Multiply</label>
            </span>
        <br/>
        <label class="result">Result: {{result}}</label>
    </div>
</div>